.TextoInicial{
height:187px;
width: 620px;
border-radius:40px;
background-color: white;
border: 4px solid #ff6200;
box-shadow: 0 0 15px rgb(0, 13, 255);
margin: -175px auto;
text-align: center;
position: relative;

}




.footer{
    height:48px;
    width: 100%;
    background-color: rgb(26, 26, 26);
    margin-top: -9px;
    position: absolute;
    text-align: center;
}

.background {
    height: 345px;
    width: 1483px;
    background-color: rgb(55, 55, 55);
    position: static;
    margin-top: -282px;
    background-position: center;
}

.links{
text-decoration: "none"
}
html{
width: 100%;
height:auto;
}
    
body { overflow-x: hidden;
    width: 100%;
}


::-webkit-scrollbar{
width: 10px;
background-color: rgb(80, 80, 80);

}

::-webkit-scrollbar-thumb{
background-color: #1e1e1e;
 border-radius: 25px;
}


.links{

    text-decoration: none;
}